@import url("https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Heebo:wght@200&family=Oswald:wght@200&display=swap");

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left {
  background-color: #d85b53;
  color: #fff;
  width: 40vw;
  text-align: center;
  border-radius: 10px 0 0px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left img {
  width: 24vw;
}

.right {
  background-color: #14243c;
  color: #fff;
  width: 40vw;
  text-align: center;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right label {
  display: block;
}
.container, .container-success {
  display: flex;
  margin: 30px auto;
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 3px #888888;
}

.l-controls {
  border: none;
  font-family: "Heebo", sans-serif, "Diplomata SC";
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 3px;
}

.controls {
  border-bottom: 2px solid #909dae;
  background-color: #14243c;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  margin-bottom: 9px;
  color: #fff;
  outline: none;
  font-family: "Heebo", sans-serif, "Diplomata SC";
}

.container p {
  text-align: center;
  font-family: "Heebo", sans-serif, "Diplomata SC";
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 14px;
}

.terms {
  margin-right: 17px;
  margin-top: 20px;
}

.boton {
  border-radius: 12px;
  color: #fff;
  border: none;
  background: #d85b53;
  width: 150px;
  height: 31px;
  margin-top: 28px;
  font-family: "Heebo", sans-serif, "Diplomata SC";
  font-weight: 900;
  font-size: 20px;
}
a {
  color: #fff;
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}

.nav-li {
  color: #fff;
  display: inline;
  border: 1px;
  border-radius: 13px;
  padding: 6px;
}

.nav ul {
  margin-right: 50px;
  margin-bottom: 45px;
}

.nav-a {
  text-decoration: none;
}

.left-li {
  background-color: #909dae;
  font-family: "Heebo", sans-serif, "Diplomata SC";
  font-size: 15px;
}

.right-li {
  background-color: #d85b53;
  font-family: "Heebo", sans-serif, "Diplomata SC";
  font-size: 15px;
}
.right nav {
  align-self: flex-end;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-out;
}

h2 {
  font-family: "Heebo", sans-serif, "Diplomata SC";
  font-size: 35px;
  font-weight: 900;
}

#changePassVisibilityBtn, #changePassVisibilityBtn2 {
  background-color: transparent;
  color: #909dae;
  border: none;
  position: absolute;
}

#alert-pass {
  text-align: center;
    font-family: "Heebo", sans-serif, "Diplomata SC";
    font-size: 14px;
    margin: 11px 0;
    color: #d85b53;
    font-weight: bold;
}

.visibilityOff {
  display: none;
}

#success {
  text-align: center;
  font-family: "Heebo", sans-serif, "Diplomata SC";
  font-size: 14px;
  margin: 100px 50px;
}
@media (max-width: 1024px) {
  .container, .container-success {
    width: auto;
    height: 60vh;
  }

  .left h2 {
    padding: 0 3px;
  }

  .right {
    padding: 0 0 75px;
  }

  .left, .right {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .container, .container-success {
    height: 75vh;
    width: 94vw;
  }

  .left, .right {
    width: 47vw;
  }
}

@media (max-width: 600px) {
  .container, .container-success {
    flex-direction: column;
    width: 80%;
    height: 100%;
  }

  .right {
    padding-top: 50px;
    border-radius: 0 0 10px 10px;
  }

.left {
  padding-bottom: 60px;
  border-radius: 10px 10px 0 0;
}

  .left, .right {
    width: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 375px) {
  .nav ul {
    margin-left: -38px;
    margin-right: 0;
  }
}